@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body, button, summary, a {
    font-family: 'Madimi One', sans-serif;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/camera.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    width: 100%; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
}
.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content-container, .accordion-container, .footer-container {
    background-color: transparent;
}

.content, .footer-message {
    display: flex;
    justify-content: space-around;
}

.ct-msgs, .footer-info, .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ct-image img, .footer-icons i {
    margin: 1rem;
    border-radius: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

.footer-wrapper {
    display: flex;
    padding: 3rem;
    & > div {
        flex: 1 0 calc(100vw / 3);
    }
    & .footer-info, .footer-links {
        width: 100%;
    }
}

.footer-map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

@media only screen and (max-width: 1200px) {
    .content, .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-map {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .content-image {
        display: none;
    }

    .footer-message {
        flex-direction: column;
    }

    .footer-wrapper {
        & > div {
            flex: 1 0 100%;
        }
    }
}
